{% load static %}
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static "images/course_hover.jpg" %}">

        <span class="card-title activator">Meus Cursos</span>

    </div>

    <div class="card-action">
        <button class="btn waves-effect waves-light "><i class=" material-icons">add</i>
        </button>

    </div>

    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Meus Cursos<i class="material-icons right">close</i></span>
        <p>Eventos são encontros de pessoas e/ou grupos. Podem ser: Reuniões de Células, Cultos, Reuniões gerais e Diversas</p>


        <ul class="collection with-header">


            <li class="collection-header">               

                <h5>Cursos</h5>

                {% for items in Courses %}

                    <li class="collection-item">
                        <div>{{ items.name }}<a href="{{baseurl}}curso/get/{{ items.id }}" class="secondary-content"><i class="material-icons">send</i></a>
                        </div>
                    </li>

                {% endfor%}

            </li>

        </ul>        

    </div>



</div>