{% load static %}
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static "images/course_hover.jpg" %}">

        <span class="card-title activator">Meus Cursos</span>

    </div>

    <div class="card-content">

        <ul class="collection with-header">


            <li class="collection-header">               

                <h5>Cursos</h5>

                {% for items in Courses %}

                    <li class="collection-item">
                        <div>{{ items.name }}<a href="{{ base_url }}/curso/get/{{ items.id }}" class="secondary-content"><i class="material-icons">send</i></a>
                        </div>
                    </li>

                {% endfor%}

            </li>

        </ul> 

    </div>


    <div class="card-action">

           

            <a href="{{ base_url }}/curso/novo" class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons">add</i></a>

    </div>




</div>