{% load static %}
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static "images/event_hover.png" %}">

        <span class="card-title activator">Meus Eventos</span>

    </div>

    <ul class="collection with-header">

        {% for key, values in Events.items %}
        <li class="collection-header">               

            <h5>{{ values.0.event_type.name }}</h5>

            {% for event in values %}

                <li class="collection-item">
                    <div>{{ event.name }}<a href="{{baseurl}}reuniaocelula/get/{{ event.id }}" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

            {% endfor%}

        </li>
        {% endfor %}

    </ul>

    <div class="card-action">
        <button class="btn waves-effect waves-light "><i class=" material-icons">add</i></button>

    </div>

    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Sobre os Eventos<i class="material-icons right">close</i></span>
        <p>Eventos são encontros de pessoas e/ou grupos. Podem ser: Reuniões de Células, Cultos, Reuniões gerais e Diversas</p>
        <p>
            Para adicionar um novo evento clique no botão [ + ]
        </p>
        <button class="btn waves-effect waves-light "><i class=" material-icons">add</i>
        </button>

    </div>





</div>