{% load static %}
<div class="card">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="{% static "images/group_hover.jpg" %}">

        <span class="card-title activator">Meus Grupos</span>

    </div>

    <ul class="collection with-header">

        {% for key, values in Groups.items %}
        <li class="collection-header">               

            <h5>{{ values.0.group_type.name }}s</h5>

            {% for group in values %}

                <li class="collection-item">
                    <div>{{ group.name }}<a href="{{baseurl}}grupo/get/{{ group.id }}" class="secondary-content"><i class="material-icons">send</i></a>
                    </div>
                </li>

            {% endfor%}

        </li>
        {% endfor %}

    </ul>


    <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Sobre os Grupos<i class="material-icons right">close</i></span>
        <p>Eventos são encontros de pessoas e/ou grupos. Podem ser: Reuniões de Células, Cultos, Reuniões gerais e Diversas</p>
        <p>
            Para adicionar um novo evento clique no botão [ + ]
        </p>
        <button class="btn waves-effect waves-light"><i class=" material-icons ">add</i>
        </button>

    </div>    


</div>