<!DOCTYPE html>
<html>
{% load static %}
{% load i18n %}

<head>

    <title>Portal Betel</title>


    <!-- CSS STYLES -->
    {% include "default/styles_css.html" %}

    <!--Import jQuery before materialize.js-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/letteravatar.js" %}"></script>
    <script src="{% static "js/perfect-scrollbar.min.js" %}"></script>
    <script src="{% static "js/jquery.materialize-autocomplete.js"%}"></script>
    <script src="{% static "cell/js/chart.min.js"%}"></script>        
    <script src="{% static "cell/js/plugins.js"%}"></script>

    <script src="{% static "cell/js/jquery.orgchart.js"%}"></script>

    <link href="{% static "cell/css/jquery.orgchart.css" %}" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style type="text/css">
      html, body { height: 100%; margin: 0; padding: 0; }
      #map { height: 80%; }
    </style>    


</head>

<body class="grey lighten-1">

    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <!--Header -->
    {% include "default/header_default.html" %}
    <!--Header -->

    <main>


        <!-- START MAIN -->
        <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">

                {% include "default/side_nav.html" %}


                <!-- Page Layout here -->
                <div class="content">


                    <!--start container-->
                    <div style="padding-top: 16px">

                        <div class="row" id="main-row">

                            <div class="col s12 m10 l10">

                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div id="cell" class="card scrollspy">
                                                <div class="card-content">

                                                {{ total_roles }}

                                                </div>
                                            </div>
                                        </div>
                                    </div>



                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div id="cell" class="card scrollspy">
                                                <div class="card-content">

                                                    <span class="card-title activator">{{ cell_name }}<i class="material-icons right">live_help</i></span>
                                                    <p>{% trans cell_type %} fundada em {{ cell_data.created_on_date }}</p>
                                                    <p>{{ users_count }} membros</p>
                                                    <br/>

                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h6>Lideres</h6>
                                                        </li>
                                                        {% for list in leader_users %}

                                                        <li class="collection-item avatar">
                                                            {% if list.user.extra_data.profile_image %}
                                                                <img class="circle" src="{% static "upload/profile_images/" %}{{ list.user.extra_data.profile_image }}">
                                                            {% else %}
                                                                <img class="circle" avatar="{{ list.user.first_name }} {{ list.user.last_name }}">
                                                            {% endif %}
                                                            <span class="title">{{ list.user.first_name }} {{ list.user.last_name }}</span> {% for roles in list.role %}
                                                            <p>{{ roles.name }}</p>
                                                            {%endfor%}
                                                            <a href="{{ base_url }}/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                        </li>

                                                        {% endfor %} {% for list in host_users %}

                                                        <li class="collection-item avatar">
                                                            <img class="circle" src="{% static "upload/profile_images/" %}{{ list.user.extra_data.profile_image }}">
                                                            <span class="title">{{ list.user.first_name }} {{ list.user.last_name }}</span> {% for roles in list.role %}
                                                            <p>{{ roles.name }}</p>
                                                            {%endfor%}
                                                            <a href="{{ base_url }}/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                        </li>

                                                        {% endfor %}

                                                    </ul>

                                                    {% if cells_over %}
                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h6>Supervisionado por:</h6>
                                                        </li>
                                                        {% for list in cells_over %}

                                                        <li class="collection-item">
                                                            <div>{{ list.name }}
                                                                <a href="{{ base_url }}/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                        {% endfor %}
                                                    </ul>

                                                    {% endif %} {% if cell_origin %}
                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h6>Grupo de origem:</h6>
                                                        </li>
                                                        <li class="collection-item">
                                                            <div>{{ cell_origin.name }}
                                                                <a href="{{ base_url }}/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    {% endif %} {% if generated_cells %}

                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h6>Grupos que originou</h6>
                                                        </li>
                                                        {% for list in generated_cells %}

                                                        <li class="collection-item">
                                                            <div>{{ list.name }}
                                                                <a href="{{ base_url }}/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %} {% if cells_under %}

                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h6>Supervisionando:</h6>
                                                        </li>
                                                        {% for list in cells_under %}

                                                        <li class="collection-item">
                                                            <div>{{ list.name }}
                                                                <a href="{{ base_url }}/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}

                                                </div>


                                                <div class="card-action">

                                                    {% if 'w' in Groups_perm %}
                                                        <a href="{{ base_url }}/celula/editar/{{ cell_id }}/"  class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons">edit</i></a>
                                                    {% endif %}
                                                    {% if 'c' in Groups_perm %}
                                                        <a class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons activator">delete</i></a>
                                                    {% endif %}

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    
                                    <!-- First Chart-->
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div class="card">
                                                <div class="card-move-up waves-effect waves-block waves-light">
                                                    <div class="move-up cyan darken-1">
                                                        <div>
                                                            <span class="chart-title white-text">Evolução da Célula - Frequência</span>

                                                            <div class="switch chart-revenue-switch right">


                                                                <select id="cells-up-multiple" name="cells-up-multiple">
                                                                    <option value="" disabled selected>Período</option>
                                                                    <option value="1">Mensal</option>
                                                                    <option value="1">Anual</option>
                                                                    <option value="1">Total</option>                                                                    
                                                                </select>
                                                                <label>Visualizando: </label>

                                                                <label class="cyan-text text-lighten-5">
                                                                  Detalhado 
                                                                  <input id="cell-chart" type="checkbox" onclick="updateGroupChart()">
                                                                  <span class="lever"></span> 
                                                                  Agrupado
                                                                </label>

                                                            </div>                                                            

                                                        </div>
                                                        <div class="trending-line-chart-wrapper">
                                                            <canvas id="trending-line-chart" height="155" width="668" style="width: 668px; height: 155px;"></canvas>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-content ">
                                                    <a class="btn-floating btn-move-up waves-effect waves-light darken-2 right"><i class="material-icons activator">add</i></a>
                                                    <div class="col s12 m3 l3">
                                                        <div id="doughnut-chart-wrapper">
                                                            <canvas id="doughnut-chart" height="98" width="148" style="width: 148px; height: 98px;"></canvas>
                                                            <div class="doughnut-chart-status">{{ total_roles.total_persons }}
                                                                <p class="ultra-small center-align">Pessoas</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col s12 m2 l2">
                                                        <ul class="doughnut-chart-legend">
                                                            <li class="mobile ultra-small"><span class="legend-color"></span>Membros</li>
                                                            <li class="home ultra-small"><span class="legend-color"></span>Visitantes</li>
                                                            <li class="kitchen ultra-small"><span class="legend-color"></span>Servos</li>

                                                        </ul>
                                                    </div>
                                                    <div class="col s12 m5 l6">
                                                        <div class="trending-bar-chart-wrapper">
                                                            <canvas id="trending-bar-chart" height="95" width="318" style="width: 318px; height: 95px;"></canvas>                                                
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">Revenue by Month <i class="material-icons right">close</i></span>
                                                    <table class="responsive-table">
                                                        <thead>
                                                            <tr>
                                                                <th data-field="id">ID</th>
                                                                <th data-field="month">Month</th>
                                                                <th data-field="item-sold">Item Sold</th>
                                                                <th data-field="item-price">Item Price</th>
                                                                <th data-field="total-profit">Total Profit</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>1</td>
                                                                <td>January</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>2</td>
                                                                <td>February</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>3</td>
                                                                <td>March</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>4</td>
                                                                <td>April</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>5</td>
                                                                <td>May</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>6</td>
                                                                <td>June</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>7</td>
                                                                <td>July</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>8</td>
                                                                <td>August</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>9</td>
                                                                <td>Septmber</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>10</td>
                                                                <td>Octomber</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>11</td>
                                                                <td>November</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                            <tr>
                                                                <td>12</td>
                                                                <td>December</td>
                                                                <td>122</td>
                                                                <td>100</td>
                                                                <td>$122,00.00</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>


                                            </div>
                                        </div>

                                    </div>

                                    <!-- Members -->
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div id="members" class="card scrollspy">
                                                <div class="card-content">

                                                    <span class="card-title">Membros</span>

                                                    <ul class="collection">

                                                        {% for list in member_users %}
                                                            
                                                        <li id="member-added-{{ list.user.id }}" class="collection-item avatar">
                                                            <div id="user-added-info-{{ list.user.id}}">
                                                                {% if list.user.extra_data.profile_image %}
                                                                    <img class="circle" src="{% static "upload/profile_images/" %}{{ list.user.extra_data.profile_image }}">
                                                                {% else %}
                                                                    <img class="circle" avatar="{{ list.user.first_name }} {{ list.user.last_name }}">
                                                                {% endif %}
                                                                <span class="title">{{ list.user.first_name }} {{ list.user.last_name }}</span> {% for roles in list.role %}
                                                                <p>{{ roles.name }}</p>
                                                                {%endfor%}
                                                            </div>

                                                            <div class="secondary-content">
                                                            
                                                                <a id="confirm-delete-member-modal-trigger" href="#confirm-delete-member-modal" onclick="update_delete_modal('{{ list.user.id }}')" class="modal-trigger confirm-delete-member-modal-trigger"><i class="material-icons activator">delete</i></a>
                                                                {% include "user_modals/delete_member_confirm_modal.html" %}
                                                            

                                                                <a href="{{ base_url }}/usuario/get/{{ list.user.id }}" class=""><i class="material-icons activator">search</i></a>
                                                            
                                                            </div>
                                                        </li>

                                                        {% endfor %}

                                                    </ul>

                                                    <ul class="collection" id="member-cell-added">
                                                        

                                                    </ul>

                                                    <div class="progress" id="loader-member-cell-added" style="display:none" >
                                                      <div class="indeterminate"></div>
                                                    </div>                                                   

                                                </div>

                                                <div class="card-action">

                                                    {% if 'w' in Groups_perm %}                                                    
                                                        <a id="member-modal-trigger" class="btn-floating btn-move-up waves-effect orange darken-5 right modal-trigger" data-target="member-modal"><i class="material-icons activator">add</i></a>
                                                        {% include "user_modals/add_member_search_modal.html" %}
                                                    {% endif %}

                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">

                                        <div class="col s12 m12 l12">

                                        <div class="card" >
                                            <div class="card-content">

                                            <div class="card-title">
                                                Estrutura de Grupos
                                            </div>

                                            <div id="chart-container">                                                
                                            </div>
                                            <script>
                                            var datasource = {
                                              'name': 'Igreja Batista Guaíba',
                                              'title': 'general manager',
                                              'className': 'top-level',
                                              'children': [
                                                { 'name': 'Setor 2', 'title': 'department manager', 'className': 'middle-level'},                                              
                                                { 'name': 'Setor 1', 'title': 'department manager', 'className': 'middle-level',
                                                  'children': [
                                                    { 'name': 'Celula Alvorada', 'title': 'senior engineer', 'className': 'bottom-level',
                                                      'children': [
                                                        { 'name': 'Celula Alvorada II', 'title': 'senior engineer', 'className': 'bottom-level' },
                                                        { 'name': 'Celula Fátima', 'title': 'senior engineer', 'className': 'bottom-level' },
                                                      ]
                                                     },
                                                    { 'name': 'Celula Centro', 'title': 'senior engineer', 'className': 'bottom-level' }
                                                  ]
                                                }
                                              ]};


                                            $('#chart-container').orgchart({
                                                    'data' : datasource,
                                                    'pan': true,
                                                    'zoom': true,
                                                    'draggable' : true,
                                                    //'nodeContent': 'title'
                                                })
                                                .on('touchmove', function(event) {
                                                    event.preventDefault();
                                                });
                                            </script>
                                            <style>
                                                .orgchart .top-level .title {
                                                  background-color: #006699;
                                                }
                                                .orgchart .top-level .content {
                                                  border-color: #006699;
                                                }
                                                .orgchart .middle-level .title {
                                                  background-color: #009933;
                                                }
                                                .orgchart .middle-level .content {
                                                  border-color: #009933;
                                                }
                                                .orgchart .bottom-level .title {
                                                  background-color: #993366;
                                                }
                                                .orgchart .bottom-level .content {
                                                  border-color: #993366;
                                                }                                                

                                            </style>


                                            </div>
                                        </div>

                                        </div>

                                    </div>                                    


                                    <!-- Geolocation Members-->
                                    <div class="row">

                                        <div class="col s12 m12 l12">

                                            <div id="geo-member" class="card scrollspy" style="height: 550px">

                                                <div class="card-content">
                                                    <span class="card-title">Geolocalização dos Membros</span>
                                                      <p id="map_show" class="valign center-align">Clique no icone <a onclick="initMap();$('#map_show').hide()" class="btn-floating waves-effect orange darken-5 "><i class="material-icons activator">map</i></a> para exibir o mapa</p>
                                                </div>
 

                                                <div id="map"></div>

                                            </div>


                                        </div>

                                    </div>

                                    <!-- Visitors -->
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                                <div id="visitors" class="card scrollspy">
                                                    <div class="card-content">

                                                        <span class="card-title">Visitantes</span>

                                                        <ul class="collection">

                                                            {% for list in visitor_users %}

                                                            <li class="collection-item avatar">
                                                                <img class="circle" width="60" height="60" avatar="{{ list.user.first_name }} {{ list.user.last_name }}">
                                                                <span class="title">{{ list.user.first_name }} {{ list.user.last_name }}</span> {% for roles in list.role %}
                                                                <p>{{ roles.name }}</p>
                                                                {%endfor%}
                                                                <a href="{{ base_url }}/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </li>

                                                            {% endfor %}

                                                        </ul>

                                                    </div>


                                                    <div class="card-action">

                                                        {% if 'w' in Groups_perm %}
                                                            <a class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons activator">add</i></a>
                                                        {% endif %}

                                                    </div>

                                                </div>
                                        </div>

                                    </div>

                                    <!-- Cell Mettings-->
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div id="mettings" class="card scrollspy">
                                                <div class="card-content">

                                                    <span class="card-title">Reuniões de Células</span>
                                                    <p>{{ meetings.count }} Reunião(ões)</p>
                                                    <p></p>


                                                    <ul class="collection">
                                                        {% for item in meetings %}
                                                        <li class="collection-item">
                                                            <div>{{ item.name }}<a href="{{ base_url }}/reuniaocelula/get/{{ item.id }}/" class="secondary-content"><i class="material-icons">send</i></a>
                                                            </div>
                                                        </li>
                                                        {% endfor %}

                                                    </ul>

                                                </div>


                                                <div class="card-action">

                                                    {% if 'w' in Events_perm or 'w' in System_perm %}
                                                        <a href="{{ base_url }}/reuniaocelula/novo/{{ cell_id }}/" class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons activator">add</i></a>
                                                    {% endif %}

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <!-- Group Events-->
                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div id="events" class="card scrollspy">
                                                <div class="card-content">

                                                    <span class="card-title">Eventos do Grupo</span>
                                                    <p>{{ events.count }} Evento(s)</p>
                                                    <p></p>


                                                    <ul class="collection">
                                                        {% for item in events %}
                                                        <li class="collection-item">
                                                            <div>{{ item.name }}<a href="{{ base_url }}/evento/get/{{ item.id }}/" class="secondary-content"><i class="material-icons">send</i></a>
                                                            </div>
                                                        </li>
                                                        {% endfor %}

                                                    </ul>

                                                </div>



                                                <div class="card-action">

                                                    {% if 'w' in Events_perm %}
                                                        <a class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons activator">add</i></a>
                                                    {% endif %}

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                            </div>



                            <div class="col hide-on-small-only m2 l2">
                              <ul class="section table-of-contents">
                                <li><a class="white-text" href="#cell">Grupo</a></li>
                                <li><a class="white-text" href="#members-chart">Gráfico</a></li>
                                <li><a class="white-text" href="#next-mettings">Próximas reuniões</a></li>
                                <li><a class="white-text" href="#members">Membros</a></li>                                
                                <li><a class="white-text" href="#geo-member">Membros - Mapa</a></li>
                                <li><a class="white-text" href="#visitors">Visitantes</a></li>
                                <li><a class="white-text" href="#mettings">Reuniões</a></li>
                                <li><a class="white-text" href="#events">Eventos</a></li>
                              </ul>
                            </div>
                        </div>

                        <div class="row" id="globalsearch-result">
                        </div>

                    </div>

                    </div>

                </div>
            </div>
        </div>
    </main>


    <!-- Google Maps API -->
    <script  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD1FfhbFJv88cNCVu5xcHBt0rw4eeJYQOk"></script>
    <script  src="{% static "js/markerclusterer.js"%}"></script>

    <script>
        {% include "js/cell_detail.js" %}   
    </script>  


    <script>
        // Initialize collapse button
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });

      $(document).ready(function(){
        $('.scrollspy').scrollSpy({
            scrollOffset: 100
        });


        $('.table-of-contents').pushpin({
          //top: 100,
          //bottom: 1000,
          offset: 80
        });        


      });



    </script>


</body>


</html>