{% load static %}



{% for item in users_result %}
<a href="#!" id="row-{{ item.id }}" onclick="select_user('{{ item.id }}')" class="search collection-item avatar">
	<span class="title">{{ item.extra_data.first_name }}</span>
	<p>{{ item.extra_data.first_name }}</p>
</a>
{% endfor %}


<script src="{% static "js/letteravatar.js" %}"></script>

<script>

	function select_user(user_id){

		$('.search.collection-item').removeClass('active');

		$('.search#row-'+user_id).addClass('active');

		$('.search.collection-item').hide();

		$('.search#row-'+user_id).show();

		$('#user_searched_selected').val(user_id);

	}

</script>
