<!DOCTYPE html>
<html>
{% load static %}

<head>

    <title>Portal Betel</title>


    <!-- BOOTSTRAP & STYLES -->
    {% include "default/styles_css.html" %}
    <!-- END OF BOOTSTRAP & STYLES -->

    <!--Import jQuery before materialize.js-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/letteravatar.js" %}"></script>
    <script src="{% static "js/plugins.min.js" %}"></script>
    <script src="{% static "js/perfect-scrollbar.min.js" %}"></script>
    <script src="{% static "js/jquery.materialize-autocomplete.js"%}"></script>    


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="grey lighten-1">

    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->

    <!--Header -->
    {% include "default/header_default.html" %}
    <!--Header -->

    <main>


        <!-- START MAIN -->
        <div id="main">
            <!-- START WRAPPER -->
            <div class="wrapper">

                {% include "default/side_nav.html" %}


                <!-- Page Layout here -->
                <div class="content">


                    <!--start container-->
                    <div style="padding-top: 16px">

                        <div class="row">

                            <div class="col s12 m10 l10">


                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div id="group" class="card scrollspy">
                                                <div class="card-content">

                                                    <span class="card-title activator">{{ group_name }}<i class="material-icons right">live_help</i></span>
                                                    <p>{{ group_type }} fundada em {{ group_data.created_on_date }}</p>

                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h6>Lideres</h6>
                                                        </li>
                                                        {% for list in leader_users %}

                                                        <li class="collection-item avatar">
                                                            {% if list.user.extra_data.profile_image %}
                                                                <img class="circle" src="{% static "upload/profile_images/" %}{{ list.user.extra_data.profile_image }}">
                                                            {% else %}
                                                                <img class="circle" avatar="{{ list.user.extra_data.first_name }} {{ list.user.extra_data.last_name }}">
                                                            {% endif %}
                                                            <span class="title">{{ list.user.extra_data.first_name }} {{ list.user.extra_data.last_name }}</span> {% for roles in list.role %}
                                                            <p>{{ roles.name }}</p>
                                                            {%endfor%}
                                                            <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                        </li>

                                                        {% endfor %} {% for list in host_users %}

                                                        <li class="collection-item avatar">
                                                            <img class="circle" src="{% static "upload/profile_images/" %}{{ list.user.extra_data.profile_image }}">
                                                            <span class="title">{{ list.user.extra_data.first_name }} {{ list.user.extra_data.last_name }}</span> {% for roles in list.role %}
                                                            <p>{{ roles.name }}</p>
                                                            {%endfor%}
                                                            <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                        </li>

                                                        {% endfor %}

                                                    </ul>

                                                    {% if groups_over %}
                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h5>Supervisionado por:</h5>
                                                        </li>
                                                        {% for list in groups_over %}

                                                        <li class="collection-item">
                                                            <div>{{ list.name }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                        {% endfor %}
                                                    </ul>

                                                    {% endif %} {% if group_origin %}
                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h5>Grupo de origem:</h5>
                                                        </li>
                                                        <li class="collection-item">
                                                            <div>{{ group_origin.name }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                    {% endif %} {% if generated_groups %}

                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h5>Grupos que originou</h5>
                                                        </li>
                                                        {% for list in generated_groups %}

                                                        <li class="collection-item">
                                                            <div>{{ list.name }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %} {% if groups_under %}

                                                    <ul class="collection with-header">
                                                        <li class="collection-header">
                                                            <h5>Supervisionando:</h5>
                                                        </li>
                                                        {% for list in groups_under %}

                                                        <li class="collection-item">
                                                            <div>{{ list.name }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                        {% endfor %}
                                                    </ul>
                                                    {% endif %}

                                                </div>

                                                <div class="card-reveal">
                                                    <span class="card-title grey-text text-darken-4">+ Detalhes do Grupo<i class="material-icons right">close</i></span>


                                                    <ul class="collection with-header">

                                                        <li class="collection-header">
                                                            <h5>Endereço</h5>
                                                        </li>

                                                        <li class="collection-item">
                                                            <div>CEP: {{ group_data.addr_zip }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>


                                                        <li class="collection-item">
                                                            <div>Estado: {{ group_data.addr_state }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>


                                                        <li class="collection-item">
                                                            <div>Cidade: {{ group_data.addr_city }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                        <li class="collection-item">
                                                            <div>Bairro: {{ group_data.addr_neigh }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                        <li class="collection-item">
                                                            <div>Logradouro: {{ group_data.addr_street }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                        <li class="collection-item">
                                                            <div>Nro/Complemento: {{ group_data.addr_street_number }}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>

                                                    </ul>



                                                    <ul class="collection with-header">

                                                        <li class="collection-header">
                                                            <h5>Dias e Horários</h5>
                                                        </li>

                                                        <li class="collection-item">
                                                            <div>Frequência de reuniões: Semanal
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </div>
                                                        </li>


                                                        <li class="collection-item">
                                                            <div>

                                                                <!-- TODO make work -->
                                                                {% for key, item in group_data.meet_day.items %}

                                                                <p>{{ item.key }} : {{group_data.meet_hour.key}}</p>

                                                                {% endfor %}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>

                                                            </div>
                                                        </li>

                                                    </ul>

                                                </div>

                                                <div class="card-action">

                                                    <a href="/bethelgroups/celula/editar/{{ cell_id }}/"  class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons activator">edit</i></a>
                                                    <a class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons activator">delete</i></a>

                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div id="members" class="card scrollspy">
                                                <div class="card-content">

                                                    <span class="card-title">Membros</span>
                                                    <p>{{ users_count }} membros</p>
                                                    <p></p>

                                                    <ul class="collection">

                                                        {% for list in member_users %}

                                                        <li id="{{ list.user.id }}" class="collection-item avatar">
                                                            {% if list.user.extra_data.profile_image %}
                                                                <img class="circle" src="{% static "upload/profile_images/" %}{{ list.user.extra_data.profile_image }}">
                                                            {% else %}
                                                                <img class="circle" avatar="{{ list.user.extra_data.first_name }} {{ list.user.extra_data.last_name }}">
                                                            {% endif %}
                                                            <span class="title">{{ list.user.extra_data.first_name }} {{ list.user.extra_data.last_name }}</span> {% for roles in list.role %}
                                                            <p>{{ roles.name }}</p>
                                                            {%endfor%}

                                                            <div class="secondary-content">
                                                                <a href="#!" onclick="remove_user_save('{{list.user.id}}')" class=""><i class="material-icons activator">delete</i></a>
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class=""><i class="material-icons activator">search</i></a>
                                                            </div>
                                                        </li>

                                                        {% endfor %}

                                                    </ul>

                                                    <ul class="collection" id="member-cell-added">
                                                        

                                                    </ul>

                                                    <div class="progress" id="loader-member-cell-added" style="display:none" >
                                                      <div class="indeterminate"></div>
                                                    </div>                                                   

                                                </div>

                                                <div class="card-action">

                                                    <a id="member-modal-trigger" class="btn-floating btn-move-up waves-effect orange darken-5 right modal-trigger" data-target="member-modal"><i class="material-icons activator">add</i></a>

                                                    {% include "home/group/cells/modals/add_member_search_modal.html" %}


                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                                <div id="visitors" class="card scrollspy">
                                                    <div class="card-content">

                                                        <span class="card-title">Visitantes</span>

                                                        <ul class="collection">

                                                            {% for list in visitor_users %}

                                                            <li class="collection-item avatar">
                                                                <img class="circle" width="60" height="60" avatar="{{ list.user.extra_data.first_name }} {{ list.user.extra_data.last_name }}">
                                                                <span class="title">{{ list.user.extra_data.first_name }} {{ list.user.extra_data.last_name }}</span> {% for roles in list.role %}
                                                                <p>{{ roles.name }}</p>
                                                                {%endfor%}
                                                                <a href="http://localhost:10/bethelgroups/usuario/get/{{ list.user.id }}" class="secondary-content"></a>
                                                            </li>

                                                            {% endfor %}

                                                        </ul>

                                                    </div>


                                                    <div class="card-action">

                                                        <a class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons activator">add</i></a>

                                                    </div>

                                                </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div id="mettings" class="card scrollspy">
                                                <div class="card-content">

                                                    <span class="card-title">Reuniões de Células</span>
                                                    <p>{{ meetings.count }} Reuniões(s)</p>
                                                    <p></p>


                                                    <ul class="collection">
                                                        {% for item in meetings %}
                                                        <li class="collection-item">
                                                            <div>{{ item.name }}<a href="http://localhost:10/bethelgroups/reuniaocelula/get/{{ item.id }}/" class="secondary-content"><i class="material-icons">send</i></a>
                                                            </div>
                                                        </li>
                                                        {% endfor %}

                                                    </ul>

                                                </div>


                                                <div class="card-action">

                                                    <a href="http://localhost:10/bethelgroups/reuniaocelula/novo/{{ group_id }}/" class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons activator">add</i></a>

                                                </div>

                                            </div>
                                        </div>

                                    </div>


                                    <div class="row">
                                        <div class="col s12 m12 l12">
                                            <div id="events" class="card scrollspy">
                                                <div class="card-content">

                                                    <span class="card-title">Eventos do Grupo</span>
                                                    <p>{{ events.count }} Evento(s)</p>
                                                    <p></p>


                                                    <ul class="collection">
                                                        {% for item in events %}
                                                        <li class="collection-item">
                                                            <div>{{ item.name }}<a href="http://localhost:10/bethelgroups/evento/get/{{ item.id }}/" class="secondary-content"><i class="material-icons">send</i></a>
                                                            </div>
                                                        </li>
                                                        {% endfor %}

                                                    </ul>

                                                </div>



                                                <div class="card-action">

                                                    <a class="btn-floating btn-move-up waves-effect orange darken-5 right"><i class="material-icons activator">add</i></a>

                                                </div>

                                            </div>
                                        </div>

                                    </div>

                            </div>



                            <div class="col hide-on-small-only m2 l2">
                              <ul class="section table-of-contents">
                                <li><a class="white-text" href="#group">Grupo</a></li>
                                <li><a class="white-text" href="#members">Membros</a></li>
                                <li><a class="white-text" href="#visitors">Visitantes</a></li>
                                <li><a class="white-text" href="#mettings">Reuniões</a></li>
                                <li><a class="white-text" href="#events">Eventos</a></li>
                              </ul>
                            </div>
                        </div>

                    </div>

                    </div>

                </div>
            </div>
        </div>
    </main>

    <script>
        {% include "home/group/cells/js/cell.js" %}
    </script>

    <script>
        // Initialize collapse button
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });

      $(document).ready(function(){
        $('.scrollspy').scrollSpy({
            scrollOffset: 100
        });


        $('.table-of-contents').pushpin({
          //top: 100,
          //bottom: 1000,
          offset: 80
        });        


      });



    </script>


</body>


</html>