      <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">Configurações</a></li>
        <li><a href="#!">Ajuda</a></li>
        <li class="divider"></li>
        <li><a href="#!" onclick="$('#form_logout').submit()">Sair</a></li>
      </ul>
      <nav>
        <div class="nav-wrapper">
          <a href="#!" class="brand-logo">Portal Betel</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#!">Meus Dados</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">more_vert</i></a></li>
          </ul>
        </div>
      </nav>

      <form id="form_logout" action="/crossbone/logout" method="POST">
        {% csrf_token %}
        <input type="hidden" name='action' value="logout" />
      </form>