    {% load static %}

    <!-- JAVASCRIPT FILES -->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js"  %}"></script>
    <script src="{% static "js/jquery.hoverIntent.js"  %}"></script>
    <script src="{% static "js/superfish.min.js" %}"></script>
    <script src="{% static "js/jquery.sliderPro.min.js" %}"></script>
    <script src="{% static "js/owl.carousel.min.js" %}"></script>
    <script src="{% static "js/odometer.min.js" %}"></script>
    <script src="{% static "js/waypoints.min.js" %}"></script>
    <script src="{% static "js/jquery.slicknav.min.js" %}"></script>
    <script src="{% static "js/wow.min.js" %}"></script>
    <script src="{% static "js/retina.min.js" %}"></script>
    <script src="{% static "js/custom.js" %}"></script>
    <!-- END OF JAVASCRIPT FILES -->