<div class="row">

    <div class="input-field col s6">
        <select id="user-group{{ fields_seq }}" name="user-group{{ fields_seq }}">
              <option value="" disabled selected>Selecione</option>
              {% for item in Users %}                    
                <option value="{{ item.id }}">{{ item.extra_data.first_name.value }}</option>
              {% endfor %} 

        </select>
        <label>Usuário</label>
    </div>

    <div class="input-field col s6">
        <select multiple id="group-role{{ fields_seq }}-multiple" name="group-role{{ fields_seq }}-multiple">
          <option value="" disabled selected>Selecione</option>

              {% for item in Roles %}                    
                <option value="{{ item.id }}">{{ item.name }}</option>
              {% endfor %} 

        </select>
        <label>Função</label>

    </div>

</div>

<script>
        $('select').material_select();
</script>