<div class="row">

    <div class="input-field col s6">
        <select>
              <option value="" disabled selected>Selecione</option>
              {% for item in Users %}                    
                <option value="{{ item.id }}">{{ item.name }}</option>
              {% endfor %} 

        </select>
        <label>Usuário</label>
    </div>

    <div class="input-field col s6">
        <select multiple>
          <option value="" disabled selected>Selecione</option>

              {% for item in Roles %}                    
                <option value="{{ item.id }}">{{ item.name }}</option>
              {% endfor %} 

        </select>
        <label>Função</label>

    </div>

</div>

<script>
        $('select').material_select();
</script>