  <div class="panel panel-default">
    <div class="panel-heading">Novo tipo de Grupo</div>
    <div class="panel-body">

        <form class="form-horizontal" method="POST" action="novogrouptype">
          {% csrf_token %}

           <div class="form-group">
              <label for="codigo_tipo_grupo" class="col-sm-2 control-label">Codigo do tipo</label>                                    
              <div class="col-sm-2">          
                <input type="text" class="form-control" id="codigo_tipo_grupo" name="codigo_tipo_grupo">
              </div>
           </div>

           <div class="form-group">
              <label for="nome_tipo_grupo" class="col-sm-2 control-label">Nome do tipo</label>                                    
              <div class="col-sm-2">          
                <input type="text" class="form-control" id="nome_tipo_grupo" name="nome_tipo_grupo">
              </div>
           </div>           


           <button type="submit" class="btn btn-default">Cadastrar</button>
        </form>

        <div class="panel-body">
          Usuarios cadastrados: 
            {% for item in Groups_types %}
              <pre>{{ item.to_json }}</pre>
            {% endfor %}          
        </div>

      </div>
  </div>