  <div class="panel panel-default">
    <div class="panel-heading">Novo Grupo</div>
    <div class="panel-body">  

        <form class="form-horizontal" method="POST" action="novogrupo">
          {% csrf_token %}
          
          <div class="form-group">
            <label for="nome-grupo" class="col-sm-2 control-label">Nome do Grupo</label>                                
            <div class="col-sm-2">
              <input type="text" class="form-control" id="nome-grupo" name="nome-grupo" />              
            </div>  
          </div>

          <div class="form-group">
          <label for="d-tipo-grupo" class="col-sm-2 control-label">Tipo de Grupo</label>                      
          <div class="col-sm-10">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="d-tipo-grupo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Tipo de Grupo
                  <span class="caret"></span>
                </button>
                <input type="hidden" value="" id="tipo-grupo" name="tipo-grupo" />                
                <ul class="dropdown-menu" aria-labelledby="d-tipo-grupo">
                                    
                  {% for item in Groups_types %}                    
                    <li onclick="$('#tipo-grupo').val('{{ item.id }}');"><a>{{ item.name }}</a></li>
                  {% endfor %}                                  

                </ul>
              </div>
            </div>              
          </div>

          <div class="form-group">
            <label for="dropdownMenu2" class="col-sm-2 control-label">Grupo de Origem</label>
            <div class="col-sm-10">
              <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  Grupo de Origem
                    <span class="caret"></span>
                </button>
                <input type="hidden" value="" id="grupo-origem" name="grupo-origem" />                                
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                  {% for item in Groups %}                    
                    <li onclick="$('#grupo-origem').val('{{ item.id }}');"><a>{{ item.data.name }}</a></li>
                  {% endfor %}   

                </ul>
              </div>
            </div>
            </div>

          <div class="form-group">

            <!-- Build your select: -->
            <label for="grupos-acima-multiple" class="col-sm-2 control-label">Grupo Acima</label>
            <div class="col-sm-10">            
              <select id="grupos-acima-multiple" name="grupos-acima-multiple" multiple="multiple">
                  {% for item in Groups %}                    
                    <option value="{{ item.id }}">{{ item.data.name }}</option>
                  {% endfor %}                    
              </select>
            </div>

          </div>

          <div class="form-group">

            <!-- Build your select: -->
            <label for="grupos-abaixo-multiple" class="col-sm-2 control-label">Grupo Abaixo</label>
            <div class="col-sm-10">            
              <select id="grupos-abaixo-multiple" name="grupos-abaixo-multiple" multiple="multiple">
                  {% for item in Groups %}                    
                    <option value="{{ item.id }}">{{ item.data.name }}</option>
                  {% endfor %}
              </select>
            </div>

          </div>

      <div class="panel-heading">Usuarios e funções</div>

        <div class="panel-body">

          <div id="usuarios-roles-list-container">

            <div class="form-group">

              <div class="col-sm-10">
                <button onclick="add_user_role_group()" type="button" class="btn btn-default">Adicionar</button>                
              </div>        

            </div>    

          </div>

        </div>


           <button type="submit" class="btn btn-default">Cadastrar</button>
        </form>

        <div class="panel-body">
          Grupos cadastrados: 
            {% for item in Groups %}
              <pre>{{ item.to_json }}</pre>
            {% endfor %}          
        </div>

        <!-- User roles list div -->
        <div id="user-list-div" style="display:none">


        </div>
        <!-- User roles list div -->            

    </div>


  </div>




<script>

    function add_user_role_group(){


      appended = $("<div id='appended'></div>")

      $('#user-list-div').append(appended);

      $(appended).load("usuarios_roles_list");
      
      $('#usuarios-roles-list-container').append(appended.show());

    };

    $(".dropdown-menu li a").click(function(){
        var selText = $(this).text();
        $(this).closest('div').find('button[data-toggle="dropdown"]').html(selText + ' <span class="caret"></span>');
    });  
 
    /**Initialize the plugin: **/

    $('#grupos-acima-multiple').multiselect();
    $('#grupos-abaixo-multiple').multiselect();
    
</script>