  <div class="panel panel-default">
    <div class="panel-heading">Nova função</div>
    <div class="panel-body">

        <form class="form-horizontal" method="POST" action="novorole">
          {% csrf_token %}

           <div class="form-group">
              <label for="nome_funcao" class="col-sm-2 control-label">Nome da função</label>                                    
              <div class="col-sm-2">          
                <input type="text" class="form-control" id="nome_funcao" name="nome_funcao">
              </div>
           </div>
           <button type="submit" class="btn btn-default">Cadastrar</button>
        </form>

        <div class="panel-body">
          Funções cadastrados: 
            {% for item in Roles %}
              <pre>{{ item.to_json }}</pre>
            {% endfor %}          
        </div>

      </div>
  </div>