  <div class="panel panel-default">
    <div class="panel-heading">Novo usuario</div>
    <div class="panel-body">

        <form class="form-horizontal" method="POST" action="novouser">
          {% csrf_token %}

           <div class="form-group">
              <label for="nome_usuario" class="col-sm-2 control-label">Nome do usuario</label>                                    
              <div class="col-sm-2">          
                <input type="text" class="form-control" id="nome_usuario" name="nome_usuario">
              </div>
           </div>
           <button type="submit" class="btn btn-default">Cadastrar</button>
        </form>

        <div class="panel-body">
          Usuarios cadastrados: 
            {% for item in Users %}
              <pre>{{ item.to_json }}</pre>
            {% endfor %}          
        </div>

      </div>
  </div>