{% load static %}

<aside id="left-sidebar-nav">
    <ul id="slide-out" class="side-nav fixed leftside-navigation ps-container ps-active-y" style="width: 240px;">
        <li class="user-details orange ">
            <div class="row">
                <div class="col col s4 m4 l4">
                    <img width="50" class="circle" src="{% static "upload/profile_images/" %}{{ User.extra_data.profile_image }}">
                </div>
                <div class="col col s8 m8 l8">

                    <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">{{ User.first_name }} {{ User.last_name }}<i class="mdi-navigation-arrow-drop-down right"></i></a>
                    <p class="user-roal"></p>
                </div>
            </div>
        </li>
        <li class="bold active"><a href="{{ base_url }}/" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Inicio</a></li>
        <li class="no-padding">
            <ul class="collapsible collapsible-accordion">
                <li class="bold"><a class="collapsible-header waves-effect waves-cyan"><i class="mdi-action-view-carousel"></i> Configurações</a>
                    <div class="collapsible-body" style="">
                        <ul>
                            <li><a href="#">Perfil</a>
                            </li>
                            <li><a href="#">Sistema</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </li>
        <li class="bold"><a href="{{ base_url }}/overview" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> Administração</a></li>
        <li class="bold"><a href="#" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Mensagens <span class="new badge">4</span></a></li>
        <li class="bold"><a href="{{ base_url }}/logout" class="waves-effect waves-cyan"><i class="mdi-communication-email"></i> Logout</a></li>        
        <li class="li-hover">
            <div class="divider"></div>
        </li>

    </ul>
    <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only orange"><i class="material-icons">menu</i></a>
</aside>