<div class="input-field col s6 l6">
    <select id="cell-days-multiple-{{ day_seq }}" type="text" name="cell-days-multiple-{{ day_seq }}" class="validate" data-rule-required="true" multiple>
        <option value="seg" selected>Segunda-feira</option>
        <option value="ter">Terça-feira</option>
        <option value="qua">Quarta-feira</option>
        <option value="qui">Quinta-feira</option>
        <option value="sex">Sexta-feira</option>
        <option value="sab">Sábado</option>
        <option value="dom">Domingo</option>
    </select>
        <label for="cell-days-multiple-{{ day_seq }}">Dia:</label>        
</div>


<div class="input-field col s6 l6">
    <input id="cell-hours-{{ day_seq }}" name="cell-hours-{{ day_seq }}" type="time" class="timepicker validate" data-rule-required="true" data-rule-minlength="5" >
    <label for="cell-hours-{{ day_seq }}">Horario:</label>
</div>

<script>
    $('select').material_select();

    //Time Picker:
    $('.timepicker').pickatime({
        default: 'now',
        twelvehour: false, // change to 12 hour AM/PM clock from 24 hour
        donetext: 'OK',
      autoclose: false,
      vibrate: true // vibrate the device when dragging clock hand
    });


</script>