<!DOCTYPE html>
<html>
{% load static %}

<head>

    <title>Portal Betel</title>

    <!--Import Google Icon Font-->
     
    <!--Import materialize.css-->

    {% include "default/styles_css.html" %}

	<link href="{% static "css/materialize-stepper.css" %}" rel="stylesheet">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <!--Header -->
    {% include "default/header_default.html" %}
    <!--Header -->



    <!-- Page Layout here -->
    <div class="row">

		<!-- 
		Materializecss Stepper v1.1 - Igor Marcossi
		https://github.com/Kinark/Materialize-stepper 
		-->
		<div class="section grey lighten-5">
		   <div class="container">
		      <div class="row">
		         <div class="col l6 m10 s12 offset-l3 offset-m1">
		            <h3 class="light center-align blue-text">Criar novo Curso</h3>
		            <div class="card">
		               <div class="card-content">

		                  <ul data-method="GET" class="stepper linear">
		                     <li class="step active">
		                        <div class="step-title waves-effect waves-dark">Dados Básicos</div>
		                        <div class="step-content">
		                           <div class="row">
		                              <div class="input-field col s6">
		                                 <input id="email" name="email" type="email" class="validate" required>
		                                 <label for="first_name">Nome do Curso</label>
		                              </div>
		                           </div>
		                           <div class="step-actions">
		                              <button class="waves-effect waves-dark btn next-step" data-feedback="anyThing">Próximo</button>
		                           </div>
		                        </div>
		                     </li>
		                     <li class="step">
		                        <div class="step-title waves-effect waves-dark">Disciplinas e Professores</div>
		                        <div class="step-content">
		                           <div class="row">
		                              <div class="input-field col s6">
		                                 <input id="password" name="password" type="password" class="validate" required>
		                                 <label for="password">Your password</label>
		                              </div>
		                           </div>
		                           <div class="step-actions">
		                              <button class="waves-effect waves-dark btn next-step">CONTINUE</button>
		                              <button class="waves-effect waves-dark btn-flat previous-step">BACK</button>
		                           </div>
		                        </div>
		                     </li>                     
		                     <li class="step">
		                        <div class="step-title waves-effect waves-dark">Alunos</div>
		                        <div class="step-content">
		                          Unfortunately callback loading screen is not working in here =( I'll make a github page soon!
		                           <div class="step-actions">
		                              <button class="waves-effect waves-dark btn next-step" data-feedback="anyThing">ENDLESS CALLBACK!</button>
		                           </div>
		                        </div>
		                     </li>
		                  </ul>

		               </div>
		            </div>
		         </div>
		      </div>
		   </div>
		</div>

    </div>



    <!--Import jQuery before materialize.js-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>    
    <script src="{% static "js/materialize-stepper.js" %}"></script>


    <script>
        // Initialize collapse button
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });

		function anyThing() {
		  setTimeout(function(){ $('.stepper').nextStep(); }, 1500);
		}

		$(function(){
		   $('.stepper').activateStepper();
		});        
    </script>


</body>

</html>