{% load static %}


<li id="member-added-{{ user_id }}" class="collection-item avatar">
    <span class="title">{{ user_name.extra_data.first_name }}</span>
    <p class="grey-text">
    Membro
    </p>
    <a href="#!" onclick="remove_user('member-added-{{ user_id }}')" class="secondary-content"><i class="material-icons">delete</i></a>


    <input type="hidden" id='member-added-x' value="{{ user_id }}"/>
    <input type="hidden" id='roles-added-x' value="{% for role_id in roles_ids %}{% if forloop.last %}{{ role_id }}{% else %}{{ role_id }},{% endif %}{% endfor %}"/>

</li>

<script src="{% static "js/letteravatar.js" %}"></script>

