{% load static %}


<li id="member-added-{{ user_id }}" class="collection-item avatar">
    {% if user_name.extra_data.profile_image %}
        <img class="circle" src="{% static "upload/profile_images/" %}{{ user_name.extra_data.profile_image }}">
    {% else %}
        <img class="circle" avatar="{{ user_name.extra_data.first_name }} {{ user_name.extra_data.last_name }}">
    {% endif %}

    <span class="title">{{ user_name.extra_data.first_name }} {{ user_name.extra_data.last_name }}</span>
    <p class="grey-text">
    {{ user_roles.0.name }}
    </p>
    <div class="secondary-content">
        <a href="#!" onclick="remove_user_save('{{ user_id }}')" class=""><i class="material-icons">delete</i></a>
        <a href="http://localhost:10/bethelgroups/usuario/get/{{ user_id }}" class=""><i class="material-icons activator">search</i></a>
    </div>

    <input type="hidden" name='member-added[]' id='member-added-x' value="{{ user_id }}"/>

</li>

<script src="{% static "js/letteravatar.js" %}"></script>

