<!DOCTYPE html>
<html>
{% load static %}

<head>

    <title>Portal Betel</title>

    <!--Import Google Icon Font-->
     
    <!--Import materialize.css-->

    {% include "default/styles_css.html" %}

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <!--Header -->
    {% include "default/header_default.html" %}
    <!--Header -->



    <!-- Page Layout here -->
    <div class="row">

        <div id="main_content">

          <div class="row">

              <div class="col s11 m11 l11">


                  <div class="col s12 m12 l4">
                      {% include "cards/my_groups_home.html" %}
                  </div>

                  <div class="col s12 m12 l4">
                      {% include "cards/my_events_home.html" %}
                  </div>

                  <div class="col s12 m12 l4">
                      {% include "cards/my_courses_home.html" %}
                  </div>

              </div>

          </div>

        </div>

    </div>





    <!-- FAB  -->
    <div class="card-action">
        <!--<button class="btn waves-effect waves-light "><i class=" material-icons">add</i></button>-->

        <div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <li><a class="btn-floating blue"><i class="material-icons">supervisor_account</i></a>
                </li>
                <li><a class="btn-floating green"><i class="material-icons">today</i></a>
                </li>
            </ul>
        </div>

    </div>

    <!--Import jQuery before materialize.js-->
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/materialize.js" %}"></script>

    <script>
        // Initialize collapse button
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
    </script>


</body>

</html>