<!DOCTYPE html>
<html>
{% load static %}

<head>

    <title>Portal Betel</title>

    <!--Import Google Icon Font-->
     
    <!--Import materialize.css-->

    {% include "default/styles_css.html" %}

    <link href="{% static "css/materialize-stepper.css" %}" rel="stylesheet">


    <!--Import jQuery before materialize.js-->
    <script src="{% static "js/jquery.js"%}"></script>
    <script src="{% static "js/materialize.js"%}"></script>
    <script src="{% static "js/jquery.validate.min.js"%}"></script>
    <script src="{% static "js/materialize-stepper.js"%}"></script>
    <script src="{% static "js/jquery.materialize-autocomplete.js"%}"></script>    


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <!--Header -->
    {% include "default/header_default.html" %}
    <!--Header -->



    <!-- Page Layout here -->
    <div class="row">

        <!-- 
        Materializecss Stepper v1.1 - Igor Marcossi
        https://github.com/Kinark/Materialize-stepper 
        -->
        <div class="section grey lighten-5">
            <div class="container">
                <div class="row">
                    <div class="col l6 m10 s12 offset-l3 offset-m1">
                        <h3 class="light center-align blue-text">Cadastrar novo Curso</h3>
                        <div class="card">
                            <div class="card-content">


                                    <ul class="stepper linear" data-method="POST" data-action="http://localhost:10/bethelgroups/celula/novo">

                                        {% csrf_token %}

                                        <li class="step active">
                                            <div class="step-title waves-effect waves-dark">Dados Básicos</div>
                                            <div class="step-content">

                                                <div class="row">

                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-name" name="cell-name" type="text" class="validate" >
                                                            <label for="cell-name">Nome da Célula</label>
                                                        </div>


                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-date" name="cell-date" type="date" class="datepicker">
                                                            <label for="cell-date">Data de criação</label>
                                                        </div>


                                                        <div class="input-field col s12 l6">
                                                            <select id="group-origin" name="group-origin">
                                                                <option value="" disabled selected>Selecione</option>
                                                                {% for item in Groups %}   
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                                {% endfor %}   
                                                            </select>
                                                            <label>Grupo de Origem</label>
                                                        </div>


                                                        <div class="input-field col s12 l12">
                                                        <select multiple id="groups-up-multiple" name="groups-up-multiple">
                                                          <option value="" disabled selected>Selecione</option>
                                                              {% for item in Groups %}   
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                              {% endfor %}  
                                                        </select>
                                                            <label>Supervisionado por:</label>
                                                        </div>


                                                        <div class="input-field col s12 l12">
                                                        <select multiple id="groups-down-multiple" name="groups-down-multiple">
                                                          <option value="" disabled selected>Selecione</option>
                                                              {% for item in Groups %}   
                                                                <option value="{{ item.id }}">{{ item.name }}</option>
                                                              {% endfor %}  
                                                        </select>
                                                            <label>Supervisionando:</label>
                                                        </div>


                                                </div>

                                                <div class="step-actions">
                                                    <button class="waves-effect waves-dark btn next-step" data-feedback="anyThing">Próximo</button>
                                                </div>
                                            </div>
                                        </li>


                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Endereço</div>
                                            <div class="step-content">
                                                <div class="row">

                                                        <div class="input-field col s6">
                                                            <input id="cell-zip" name="cell-zip" type="text" class="validate" >
                                                            <label for="cell-zip">CEP:</label>
                                                        </div>
                                                

                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-state" name="cell-state" type="text" class="validate" >
                                                            <label for="cell-state">Estado:</label>
                                                        </div>


                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-city" name="cell-city" type="text" class="validate" >
                                                            <label for="cell-city">Cidade:</label>
                                                        </div>


                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-neigh" name="cell-neigh" type="text" class="validate" >
                                                            <label for="cell-neigh">Bairro:</label>
                                                        </div>

                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-street" name="cell-street" type="text" class="validate" >
                                                            <label for="cell-street">Logradouro:</label>
                                                        </div>

                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-street-number" name="cell-street-number" type="text" class="validate" >
                                                            <label for="cell-street-number">Nro/Complemento</label>
                                                        </div>                                                    


                                                </div>

                                                        <div class="step-actions">
                                                            <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                            <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                </div>
                                            </div>
                                        </li>



                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Horários</div>
                                            <div class="step-content">
                                                <div class="row">

                                                    <div id="days_list">


                                                    </div>

                                                    <div id="row">
                                                        <div class="col s12 m12">

                                                            <a onclick="add_day_group()" class="waves-effect waves-light btn right">+ Horário</a>

                                                        </div>
                                                    </div>                                                    

                                                </div>



                                                        <div class="step-actions">
                                                            <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                            <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                </div>
                                            </div>
                                        </li>    



                                       <li class="step">
                                            <div class="step-title waves-effect waves-dark">Servos</div>
                                            <div class="step-content">
                                                <div class="row">
                                         
                                                <ul class="collection" id="servant-cell-added">
                                                    

                                                </ul>


                                                <div class="progress" id="loader-servant-cell-added" style="display:none" >
                                                  <div class="indeterminate"></div>
                                                </div>


                                                <div id="row">
                                                    <div class="col s12 m12">

                                                        <a id="servant-modal-trigger" class="waves-effect waves-light btn right" data-target="servant-modal">+ Servo</a>
                                                        {% include "home/event/course/modals/add_servant_search_modal.html" %}


                                                    </div>
                                                </div>

                                                         

                                                </div>

                                                    <div class="step-actions">
                                                        <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                        <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                    </div>

                                            </div>
                                        </li>




                                       <li class="step">
                                            <div class="step-title waves-effect waves-dark">Membros</div>
                                            <div class="step-content">
                                                <div class="row">                                            

                                                <ul class="collection" id="member-cell-added">
                                                    

                                                </ul>

                                                <div class="progress" id="loader-member-cell-added" style="display:none" >
                                                  <div class="indeterminate"></div>
                                                </div>                                            


                                                <div id="row">
                                                    <div class="col s12 m12">

                                                        <a id="member-modal-trigger" class="waves-effect waves-light btn right modal-trigger" data-target="member-modal">+ Membro</a>
                                                        {% include "home/event/course/modals/add_member_search_modal.html" %}


                                                    </div>
                                                </div>


                                                </div>

                                                        <div class="step-actions">
                                                            <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                            <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                </div>
                                            </div>
                                        </li>                                                                                                          



                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Finalizar</div>
                                            <div class="step-content">

                                                Clique em "Cadastrar" para finalizar o cadastro
                                                <div class="step-actions">
                                                    <button onclick="$('#form-add-cell').submit()" class="waves-effect waves-dark btn" >Cadastrar</button>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    


    <script>
        // Initialize collapse button
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });

        $('select').material_select();


        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 10, // Creates a dropdown of 15 years to control year
            monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
            monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
            weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sabado'],
            weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
            today: 'Hoje',
            clear: 'Limpar',
            close: 'Fechar',
            format: 'dd/mm/yyyy',
        });


        function anyThing() {
            setTimeout(function() {
                $('.stepper').nextStep();
            }, 150);
        }

        $(function() {
            $('.stepper').activateStepper();
        });



        $(document).ready(function () {
            // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
            $('#servant-modal-trigger').leanModal({
                dismissible: false,
                ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.

                    $('#cell-role-multiple').prop('selectedIndex', 0); //Sets the first option as selected
                    $('#cell-role-multiple').material_select();    

                    $('#result-search-users').html('');
                },                
                complete: function(){


                    user_selected = $('#user_searched_selected').val();
                    roles_selectec = $('#cell-role-multiple').val();

                    $('#loader-servant-cell-added').show();                    

                    $.ajax({
                        method: "GET",
                        dataType: "html",
                        url: "http://localhost:10/bethelgroups/add_servant_list",
                        data: { userid: user_selected, rolesid: roles_selectec}
                        })
                        .fail(function(){
                            $('#loader-servant-cell-added').hide();
                        })                        
                        .done(function( msg ) {

                            $('#servant-cell-added').append(msg);

                            $('#loader-servant-cell-added').hide();
                        });

                }
            });

            $('#member-modal-trigger').leanModal({
                dismissible: false,
                ready: function(modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.

                    $('#cell-role-multiple').prop('selectedIndex', 0); //Sets the first option as selected
                    $('#cell-role-multiple').material_select();    

                    $('#result-search-users').html('');
                },                
                complete: function(){


                    user_selected = $('#user_searched_selected').val();
                    roles_selectec = $('#cell-role-multiple').val();

                    $('#loader-member-cell-added').show();                    

                    $.ajax({
                        method: "GET",
                        dataType: "html",
                        url: "http://localhost:10/bethelgroups/add_member_list",
                        data: { userid: user_selected, rolesid: roles_selectec}
                        })
                        .fail(function(){
                            $('#loader-member-cell-added').hide();
                        })                        
                        .done(function( msg ) {

                            $('#member-cell-added').append(msg);

                            $('#loader-member-cell-added').hide();
                        });

                }
            });            

        });

      

        function add_user_role_group(){

          appended = $("<div id='appended'></div>")

          $('#user-list-div').append(appended);

          $(appended).load("usuarios_roles_list");
          
          $('#usuarios-roles-list-container').append(appended.show());

        };


        function add_day_group(){

            $.get( "day_group_hmtl_frag", function( data ) {
              $( "#days_list" ).append( data );

            });          

        };        


        function remove_user(list_id){

            $('#'+list_id).remove();
        };

    </script>


</body>

</html>