{% load static %}



{% for item in users_result %}
<a href="#!" id="row-{{ item.id }}" onclick="select_user('{{ item.id }}')" class="collection-item avatar">
	<span class="title">{{ item.first_name }}</span>
	<p>{{ item.first_name }}</p>
</a>
{% endfor %}


<script src="{% static "js/letteravatar.js" %}"></script>

<script>

	function select_user(user_id){

		$('.collection-item').removeClass('active');

		$('#row-'+user_id).addClass('active');

		$('#member_searched_selected').val(user_id);

	}

</script>
