<!DOCTYPE html>
<html>
{% load static %}

<head>

    <title>Portal Betel</title>


    {% include "default/styles_css.html" %}

    <link href="{% static "css/materialize-stepper.css" %}" rel="stylesheet">


    <!--Import jQuery before materialize.js-->
    <script src="{% static "js/jquery.js"%}"></script>
    <script src="{% static "js/materialize.js"%}"></script>
    <script src="{% static "js/letteravatar.js" %}"></script>    
    <script src="{% static "js/jquery.validate.min.js"%}"></script>
    <script src="{% static "js/materialize-stepper.js"%}"></script>
    <script src="{% static "js/jquery.materialize-autocomplete.js"%}"></script>    
    <script src="{% static "js/materialize.clockpicker.js"%}"></script>
    <script src="{% static "js/jquery.maskedinput.min.js"%}"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="grey lighten-1">

    <!--Header -->
    {% include "default/header_default.html" %}
    <!--Header -->



    <!-- Page Layout here -->
    <div class="row">

        <div class="section grey lighten-5">
            <div class="container">
                <div class="row">
                    <div class="col l8 m10 s12 offset-l2 offset-m1">
                        <h3 class="light center-align blue-text">Editar Célula</h3>
                        <h5 class="light center-align blue-text">Celula Alvorada</h5>
                        <div class="card">
                            <div class="card-content">


                                    <ul id="form-add-cell" class="stepper linear" data-method="POST" data-action="">

                                        {% csrf_token %}

                                        <li class="step active">                                            

                                            <div class="step-title waves-effect waves-dark">Dados Básicos</div>
                                            <div class="step-content">

                                                <div class="row">
                                      

                                                    <div class="input-field col s12 l6">
                                                        <input id="cell-name" name="cell-name" type="text" class="validate" maxlength="50" value="{{ cell_data.name }}" >
                                                        <label for="cell-name">Nome da Célula</label>
                                                    </div>


                                                    <div class="input-field col s12 l6">
                                                        <input id="cell-date" name="cell-date" type="date" class="datepicker" value="{{ cell_data.extra_data.created_on_date }}">
                                                        <label for="cell-date">Data de criação</label>
                                                    </div>


                                                    <div class="input-field col s12 l6">
                                                        <select id="group-origin" name="group-origin">
                                                            <option value="" disabled selected>Selecione</option>
                                                            {% for item in Groups %}   
                                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}   
                                                        </select>
                                                        <label>Grupo de Origem</label>
                                                    </div>


                                                    <div class="input-field col s12 l12">
                                                    <select multiple id="groups-up-multiple" name="groups-up-multiple">
                                                      <option value="" disabled selected>Selecione</option>
                                                          {% for item in Groups %}   
                                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                                          {% endfor %}  
                                                    </select>
                                                        <label>Supervisionado por:</label>
                                                    </div>


                                                    <div class="input-field col s12 l12">
                                                    <select multiple id="groups-down-multiple" name="groups-down-multiple">
                                                      <option value="" disabled selected>Selecione</option>
                                                          {% for item in Groups %}   
                                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                                          {% endfor %}  
                                                    </select>
                                                        <label>Supervisionando:</label>
                                                    </div>


                                                </div>

                                                <div class="step-actions">
                                                    <button class="waves-effect waves-dark btn next-step" data-feedback="anyThing">Próximo</button>
                                                </div>
                                            </div>
                                        </li>


                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Endereço</div>
                                            <div class="step-content">
                                                <div class="row">

                                                        <div class="input-field col s6">
                                                            <input id="cell-zip" name="cell-zip" type="text" class="validate" value="{{ cell_data.extra_data.addr_zip }}" >
                                                            <label for="cell-zip">CEP:</label>
                                                        </div>
                                                

                                                        <div class="input-field col s12 l6">
                                                            <select id="cell-state" name="cell-state" value="{{ cell_data.extra_data.addr_state }}">
                                                                    <option value="" disabled selected>Selecione</option>
                                                                    <option value="AC">AC</option>
                                                                    <option value="AL">AL</option>
                                                                    <option value="AP">AP</option>
                                                                    <option value="AM">AM</option>
                                                                    <option value="BA">BA</option>
                                                                    <option value="CE">CE</option>
                                                                    <option value="DF">DF</option>
                                                                    <option value="ES">ES</option>
                                                                    <option value="GO">GO</option>
                                                                    <option value="MA">MA</option>
                                                                    <option value="MT">MT</option>
                                                                    <option value="MS">MS</option>
                                                                    <option value="MG">MG</option>
                                                                    <option value="PR">PR</option>
                                                                    <option value="PB">PB</option>
                                                                    <option value="PA">PA</option>
                                                                    <option value="PE">PE</option>
                                                                    <option value="PI">PI</option>
                                                                    <option value="RJ">RJ</option>
                                                                    <option value="RN">RN</option>
                                                                    <option value="RS">RS</option>
                                                                    <option value="RO">RO</option>
                                                                    <option value="RR">RR</option>
                                                                    <option value="SC">SC</option>
                                                                    <option value="SE">SE</option>
                                                                    <option value="SP">SP</option>
                                                                    <option value="TO">TO</option>
                                                                </select>
                                                                <label>Estado:</label>                                                            
                                                        </div>


                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-city" name="cell-city" type="text" class="validate" value="{{ cell_data.extra_data.addr_city }}">
                                                            <label for="cell-city">Cidade:</label>
                                                        </div>


                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-neigh" name="cell-neigh" type="text" class="validate" value="{{ cell_data.extra_data.addr_neigh }}">
                                                            <label for="cell-neigh">Bairro:</label>
                                                        </div>

                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-street" name="cell-street" type="text" class="validate" value="{{ cell_data.extra_data.addr_street }}">
                                                            <label for="cell-street">Logradouro:</label>
                                                        </div>

                                                        <div class="input-field col s12 l6">
                                                            <input id="cell-street-number" name="cell-street-number" type="text" class="validate" value="{{ cell_data.extra_data.addr_street_number }}">
                                                            <label for="cell-street-number">Nro/Complemento</label>
                                                        </div>                                                    


                                                </div>

                                                        <div class="step-actions">
                                                            <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                            <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                </div>
                                            </div>
                                        </li>



                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Horários</div>
                                            <div class="step-content">
                                                <div class="row">

                                                    <div id="row">
                                                        <div class="input-field col s12">
                                                            <select id="group-meeting-freq" name="group-meeting-freq">
                                                                <option value="" disabled selected>Selecione</option>
                                                                <option value="week">Semanal</option>
                                                                <option value="month">Mensal</option>
                                                            </select>
                                                            <label>Frequencia de reuniões</label>
                                                        </div>
                                                    </div>                                                

                                                    <div id="days_list">


                                                    </div>

                                                    <div id="row">
                                                        <div class="col s12 m12">

                                                            <a onclick="add_day_group()" class="waves-effect waves-light btn right">+ Horário</a>

                                                        </div>
                                                    </div>    

                                                </div>

                                                    <div class="step-actions">
                                                        <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                        <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                    </div>
                                            </div>
                                        </li>    



                                       <li class="step">
                                            <div class="step-title waves-effect waves-dark">Servos</div>
                                            <div class="step-content">
                                                <div class="row">
                                         
                                                <ul class="collection" id="servant-cell-added">
                                                    
                                                    {% for item in cell_leaders %}

                                                        <li id="user-added-{{ item.user.id }}" class="collection-item avatar">
                                                            {% if item.user.extra_data.profile_image %}
                                                                <img class="circle" src="{% static "upload/profile_images/" %}{{ item.user.extra_data.profile_image }}">
                                                            {% else %}
                                                                <img class="circle" avatar="{{ item.user.extra_data.first_name }} {{ item.user.extra_data.last_name }}">
                                                            {% endif %}

                                                            <span class="title">{{ item.user.extra_data.first_name }} {{ item.user.extra_data.last_name }}</span>
                                                            <p class="grey-text">
                                                            {{ item.role.0.name }}
                                                            </p>
                                                            <a href="#!" onclick="remove_user('user-added-{{ item.user.id }}')" class="secondary-content"><i class="material-icons">delete</i></a>

                                                            <input type="hidden" name='user-added[]' id='user-added-x' value="{{ item.user.id }}"/>
                                                            <input type="hidden" name='roles-added[]' id='roles-added-x' value="{% for role_id in item.role %}{% if forloop.last %}{{ role_id.id }}{% else %}{{ role_id.id }},{% endif %}{% endfor %}"/>


                                                        </li>

                                                    {% endfor %}                                                    

                                                </ul>


                                                <div class="progress" id="loader-servant-cell-added" style="display:none" >
                                                  <div class="indeterminate"></div>
                                                </div>


                                                <div id="row">
                                                    <div class="col s12 m12">

                                                        <a id="servant-modal-trigger" class="waves-effect waves-light btn right" data-target="servant-modal">+ Servo</a>
                                                        {% include "app/group/cells/modals/add_servant_search_modal.html" %}


                                                    </div>
                                                </div>

                                                         

                                                </div>

                                                    <div class="step-actions">
                                                        <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                        <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                    </div>

                                            </div>
                                        </li>




                                       <li class="step">
                                            <div class="step-title waves-effect waves-dark">Membros</div>
                                            <div class="step-content">
                                                <div class="row">                                            

                                                <ul class="collection" id="member-cell-added">

                                                    {% for item in cell_members %}

                                                        <li id="member-added-{{ item.user.id }}" class="collection-item avatar">
                                                            {% if item.user.extra_data.profile_image %}
                                                                <img class="circle" src="{% static "upload/profile_images/" %}{{ item.user.extra_data.profile_image }}">
                                                            {% else %}
                                                                <img class="circle" avatar="{{ item.user.extra_data.first_name }} {{ item.user.extra_data.last_name }}">
                                                            {% endif %}

                                                            <span class="title">{{ item.user.extra_data.first_name }} {{ item.user.extra_data.last_name }}</span>
                                                            <p class="grey-text">
                                                            {{ user_roles.0.name }}
                                                            </p>
                                                            <a href="#!" onclick="remove_user('member-added-{{ item.user.id }}')" class="secondary-content"><i class="material-icons">delete</i></a>


                                                            <input type="hidden" name='member-added[]' id='member-added-x' value="{{ item.user.id }}"/>

                                                        </li>

                                                    {% endfor %}
                                                    
                                                </ul>

                                                <div class="progress" id="loader-member-cell-added" style="display:none" >
                                                  <div class="indeterminate"></div>
                                                </div>                                            


                                                <div id="row">
                                                    <div class="col s12 m12">

                                                        <a id="member-modal-trigger" class="waves-effect waves-light btn right modal-trigger" data-target="member-modal">+ Membro</a>
                                                        {% include "app/group/cells/modals/add_member_search_modal.html" %}


                                                    </div>
                                                </div>


                                                </div>

                                                        <div class="step-actions">
                                                            <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                            <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                </div>
                                            </div>
                                        </li>                                                                                                          


                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Finalizar</div>
                                            <div class="step-content">

                                                Clique em "Cadastrar" para finalizar o cadastro
                                                <div class="step-actions">
                                                    <button onclick="$('#form-add-cell').submit()" class="waves-effect waves-dark btn" >Cadastrar</button>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "default/back_fab.html" %}


    </div>

    <script>
        {% include "app/group/cells/js/new_cell.js" %}
    </script>

    <script src="{% static "js/datepicker_defaults.js"%}"></script>
    <script src="{% static "js/validator_messages_pt_br.js"%}"></script>

    <script>

    </script>    
</body>

</html>