<!DOCTYPE html>
<html>
{% load static %}

<head>

    <title>Portal Betel</title>


    {% include "default/styles_css.html" %}

    <link href="{% static "css/materialize-stepper.css" %}" rel="stylesheet">


    <!--Import jQuery before materialize.js-->
    <script src="{% static "js/jquery.js"%}"></script>
    <script src="{% static "js/materialize.js"%}"></script>
    <script src="{% static "js/jquery.validate.min.js"%}"></script>
    <script src="{% static "js/materialize-stepper.js"%}"></script>
    <script src="{% static "js/jquery.materialize-autocomplete.js"%}"></script>    
    <script src="{% static "js/materialize.clockpicker.js"%}"></script>
    <script src="{% static "js/jquery.maskedinput.min.js"%}"></script>
    <script src="{% static "js/letteravatar.js" %}"></script>


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="grey lighten-1">

    <!--Header -->
    {% include "default/header_default.html" %}
    <!--Header -->



    <!-- Page Layout here -->
    <div class="row">

        <div class="section grey lighten-5">
            <div class="container">
                <div class="row">
                    <div class="col l8 m10 s12 offset-l2 offset-m1">
                        <h3 class="light center-align blue-text">Nova Reunião de Célula</h3>
                        <div class="card">
                            <div class="card-content">


                                    <ul id="form-add-cell" class="stepper linear" data-method="POST" data-action="http://localhost:10/bethelgroups/reuniaocelula/novo">

                                        {% csrf_token %}

                                        <li class="step active">
                                            <div class="step-title waves-effect waves-dark">Dados Básicos</div>
                                            <div class="step-content">

                                                <div class="row">                                      

                                                    <div class="input-field col s12 l6">
                                                        <select id="group-origin" name="group-origin">
                                                            <option value="" disabled selected>Selecione</option>
                                                            {% for item in Groups %}   
                                                            <option value="{{ item.id }}">{{ item.name }}</option>
                                                            {% endfor %}   
                                                        </select>
                                                        <label>Celula</label>
                                                    </div>
                                 

                                                    <div class="input-field col s12 m12 l12">
                                                        <input id="metting-cell-name" name="metting-cell-name" type="text" class="validate" maxlength="50">
                                                        <label for="metting-cell-name">Tema/Nome</label>
                                                    </div>


                                                    <div class="input-field col s12 l12">
                                                        <input id="metting-cell-date" name="metting-cell-date" type="date" class="datepicker">
                                                        <label for="metting-cell-date">Data da reunião</label>
                                                    </div>


                                                    <div class="input-field col s6 l6">
                                                        <input id="metting-cell-start-hour" name="metting-cell-start-hour" type="time" class="timepicker validate" data-rule-required="trues" data-rule-minlength="5" >
                                                        <label for="metting-cell-start-hour">Horario de Inicio:</label>
                                                    </div>

                                                    <div class="input-field col s6 l6">
                                                        <input id="metting-cell-end-hour" name="metting-cell-end-hour" type="time" class="timepicker validate" data-rule-required="trues" data-rule-minlength="5" >
                                                        <label for="metting-cell-end-hour">Horario Fim:</label>
                                                    </div>


                                                    <div class="input-field col s6 m6 l6">
                                                        <select id="metting-has-offer" name="metting-has-offer">

                                                                <option value="s">Sim</option>
                                                                <option value="n">Não</option>                                                                

                                                        </select>
                                                        <label>Oferta na célula?</label>

                                                    </div>

                                                    <div class="input-field col s6 m6 l6">
                                                        <input id="offer-value" name="offer-value" type="text" class="validate" maxlength="50">
                                                        <label for="offer-value">Valor</label>
                                                    </div>


                                                    <div class="input-field col s6 m6 l6">
                                                        <select id="metting-has-children" name="metting-has-children">

                                                                <option value="s">Sim</option>
                                                                <option value="n">Não</option>                                                                

                                                        </select>
                                                        <label>Crianças na Célula?</label>

                                                    </div>

                                                    <div class="input-field col s6 m6 l6">
                                                        <input id="metting-children-qtd" name="metting-children-qtd" type="text" class="validate" maxlength="50">
                                                        <label for="metting-children-qtd">Nro de Crianças</label>
                                                    </div>


                                                    <div class="row">
                                                        <div class="input-field col s12">
                                                          <textarea id="metting-resume" name="metting-resume" class="materialize-textarea"></textarea>
                                                          <label for="metting-resume">Resumo da reunião</label>
                                                        </div>
                                                    </div>                                                                                                    


                                                </div>

                                                <div class="step-actions">
                                                    <button class="waves-effect waves-dark btn next-step" data-feedback="anyThing">Próximo</button>
                                                </div>
                                            </div>
                                        </li>



                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Servos</div>
                                            <div class="step-content">
                                                <div class="row">
                                         
                                                <ul class="collection" id="servant-cell-added">
                                                    

                                                </ul>


                                                <div class="progress" id="loader-servant-cell-added" style="display:none" >
                                                  <div class="indeterminate"></div>
                                                </div>


                                                <div id="row">
                                                    <div class="col s12 m12">

                                                        <a id="servant-modal-trigger" class="waves-effect waves-light btn right" data-target="servant-modal">+ Servo</a>
                                                        {% include "home/event/cell_metting/modals/add_servant_search_modal.html" %}


                                                    </div>
                                                </div>

                                                         
                                                </div>

                                                    <div class="step-actions">
                                                        <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                        <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                    </div>

                                            </div>
                                        </li>



                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Membros</div>
                                            <div class="step-content">
                                                <div class="row">
                                                    <ul class="collection with-header" id="presence-list">
                                                        <li class="collection-header"><h5>Membros presentes</h5></li>
                                                        {% for item in cell_members %}   
                                                            <li class="collection-item valign-wrapper">
                                                                <input type="checkbox" id="member_presence_{{ item.id }}" name="member_presence[]" value="{{ item.id }}"/>
                                                                <label class="black-text" for="member_presence_{{ item.id }}"></label>
                                                                <img class="circle" width="50" height="50" avatar="{{ item.extra_data.first_name }} {{ item.extra_data.last_name }}" />
                                                                <div style="padding-right: 15px"></div>
                                                                {{ item.extra_data.first_name }} {{ item.extra_data.last_name }}
                                                            </li>
                                                        {% endfor %}
                                                    </ul>                                                         

                                                    <ul class="collection" id="member-cell-added">
                                                        

                                                    </ul>

                                                    <div class="progress" id="loader-member-cell-added" style="display:none" >
                                                      <div class="indeterminate"></div>
                                                    </div>                                            


                                                    <div id="row">
                                                        <div class="col s12 m12">

                                                            <a id="member-modal-trigger" class="waves-effect waves-light btn right modal-trigger" data-target="member-modal">+ Membro</a>
                                                            {% include "home/event/cell_metting/modals/add_member_search_modal.html" %}


                                                        </div>
                                                    </div>


                                                </div>

                                                        <div class="step-actions">
                                                            <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                            <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                </div>
                                            </div>
                                        </li>



                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Visitantes</div>
                                            <div class="step-content">
                                                <div class="row">                                            

                                                <ul class="collection" id="member-cell-added">
                                                    

                                                </ul>

                                                <div class="progress" id="loader-member-cell-added" style="display:none" >
                                                  <div class="indeterminate"></div>
                                                </div>                                            


                                                <div id="row">
                                                    <div class="col s12 m12">

                                                        <a id="member-modal-trigger" class="waves-effect waves-light btn right modal-trigger" data-target="member-modal">+ Membro</a>
                                                        {% include "home/event/cell_metting/modals/add_member_search_modal.html" %}


                                                    </div>
                                                </div>


                                                </div>

                                                        <div class="step-actions">
                                                            <button class="waves-effect waves-dark btn next-step">PRÓXIMO</button>
                                                            <button class="waves-effect waves-dark btn-flat previous-step">VOLTAR</button>
                                                </div>
                                            </div>
                                        </li>                                                                                                          



                                        <li class="step">
                                            <div class="step-title waves-effect waves-dark">Finalizar</div>
                                            <div class="step-content">

                                                Clique em "Cadastrar" para finalizar o cadastro
                                                <div class="step-actions">
                                                    <button onclick="$('#form-add-cell').submit()" class="waves-effect waves-dark btn" >Cadastrar</button>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        {% include "home/event/cell_metting/js/new_cell_metting.js" %}
    </script>
    
    <script src="{% static "js/datepicker_defaults.js"%}"></script>
    <script src="{% static "js/validator_messages_pt_br.js"%}"></script>


    <script>
        //Time Picker:
        $('.timepicker').pickatime({
            default: 'now',
            twelvehour: false, // change to 12 hour AM/PM clock from 24 hour
            donetext: 'OK',
          autoclose: false,
          vibrate: true // vibrate the device when dragging clock hand
        });

    </script>
</body>

</html>