<!DOCTYPE html>
<html>
{% load static %}

<head>

    <title>Portal Betel</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->

    <!-- BOOTSTRAP & STYLES -->
    {% include "default/bootstrap_css.html" %}
    <!-- END OF BOOTSTRAP & STYLES -->

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>

    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a href="#!">one</a></li>
        <li><a href="#!">two</a></li>
        <li class="divider"></li>
        <li><a href="#!">three</a></li>
    </ul>
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Portal Betel</a>
            <ul class="right hide-on-med-and-down">
                <li><a href="#!">Sass</a></li>
                <li><a href="#!">Components</a></li>
                <!-- Dropdown Trigger -->
                <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><i class="material-icons">more_vert</i></a></li>
            </ul>
        </div>
    </nav>



    <!-- Page Layout here -->
    <div class="row">

        <div class="col s12 m4 l3">
            <!-- Note that "m4 l3" was added -->

            <ul id="slide-out" class="side-nav">
                <li>
                    <div class="userView">
                        <img class="background" src="images/office.jpg">
                        <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                        <a href="#!name"><span class="white-text name">John Doe</span></a>
                        <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                    </div>
                </li>
                <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                <li><a href="#!">Second Link</a></li>
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader">Subheader</a></li>
                <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
            </ul>
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>


            <!-- Grey navigation panel


            This content will be:
            3-columns-wide on large screens,
            4-columns-wide on medium screens,
            12-columns-wide on small screens  -->

        </div>

        <div class="col s12 m8 l9">
            <!-- Note that "m8 l9" was added -->
            <!-- Teal page content

                This content will be:
            9-columns-wide on large screens,
            8-columns-wide on medium screens,
            12-columns-wide on small screens  -->


            <div id="main_content">


                <div class="row">
                    <div class="col s12 m11">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">

                                <span class="card-title activator white-text">Célula da Alvorada<i class="material-icons right">live_help</i></span>
                                <p>Célula fundada em 06/07/2016</p>
                                <p>20 membros</p>

                            </div>


                            <ul class="collection">
                                <li class="collection-item avatar">
                                    <img src="{% static " images/yuna.jpg " %}" alt="" class="circle">
                                    <span class="title">Title</span>
                                    <p>First Line <br> Second Line
                                    </p>
                                    <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="material-icons circle">folder</i>
                                    <span class="title">Title</span>
                                    <p>First Line <br> Second Line
                                    </p>
                                    <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="material-icons circle green">insert_chart</i>
                                    <span class="title">Title</span>
                                    <p>First Line <br> Second Line
                                    </p>
                                    <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
                                </li>
                                <li class="collection-item avatar">
                                    <i class="material-icons circle red">play_arrow</i>
                                    <span class="title">Title</span>
                                    <p>First Line <br> Second Line
                                    </p>
                                    <a href="#!" class="secondary-content"><i class="material-icons">edit</i></a>
                                </li>
                            </ul>


                            <div class="card-reveal">
                                <span class="card-title grey-text text-darken-4">Sobre os Eventos<i class="material-icons right">close</i></span>
                                <p>Dados do grupo</p>


                            </div>


                        </div>
                    </div>

                </div>




                <div class="row">
                    <div class="col s12 m11">
                        <div class="card blue-grey darken-1">
                            <div class="card-content white-text">

                                <span class="card-title">Eventos do Grupo</span>
                                <p>4 reuniões</p>

                            </div>



                            <ul class="collection">
                                <li class="collection-item">
                                    <div>Reunião de Célula - 12/10/2016<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                                </li>
                                <li class="collection-item">
                                    <div>Reunião de Célula - 02/10/2016<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                                </li>
                                <li class="collection-item">
                                    <div>Reunião de Célula - 24/09/2016<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                                </li>
                                <li class="collection-item">
                                    <div>Reunião de Célula - 16/10/2016<a href="#!" class="secondary-content"><i class="material-icons">send</i></a></div>
                                </li>
                            </ul>


                            <div class="card-action">
                                <button class="btn waves-effect waves-light "><i class=" material-icons">add</i></button>

                            </div>



                        </div>
                    </div>

                </div>





                <div class="row">

                    <div class="col s12 m6">


                    </div>

                </div>


            </div>

        </div>


    </div>





        <!--<button class="btn waves-effect waves-light "><i class=" material-icons">add</i></button>-->

        <div class="fixed-action-btn vertical" style="bottom: 45px; right: 24px;">
            <a class="btn-floating btn-large waves-effect waves-light red">
                <i class="large material-icons">add</i>
            </a>
            <ul>
                <li><a class="btn-floating blue"><i class="material-icons">supervisor_account</i></a></li>
                <li><a class="btn-floating green"><i class="material-icons">today</i></a></li>
            </ul>
        </div>




    <!--Import jQuery before materialize.js-->
    <script src="{% static " js/jquery.js " %}"></script>
    <script src="{% static " js/materialize.js " %}"></script>

    <script>
        // Initialize collapse button
        $('.button-collapse').sideNav({
            menuWidth: 300, // Default is 240
            edge: 'left', // Choose the horizontal origin
            closeOnClick: true // Closes side-nav on <a> clicks, useful for Angular/Meteor
        });
    </script>


</body>


</html>