<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bethel Groups</title>
  <link rel="shortcut icon" href="/static//static/images/favicon.png" />
  <!-- GOOGLE WEB FONTS -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!-- END OF GOOGLE WEB FONTS -->

  <!-- BOOTSTRAP & STYLES -->
  {% include "default/bootstrap_css.html" %}
  <!-- END OF BOOTSTRAP & STYLES -->
</head>

<body>

<div class="container-fluid">

  <h1>Cadastro rápido</h1>

  {% include "home/documents/users_list.html" %}

  {% include "home/documents/groups_list.html" %}

  {% include "home/documents/group_types_list.html" %}

  {% include "home/documents/roles_list.html" %}

  {% include "home/documents/events_list.html" %}


</div>


</body>

</html>
