<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Bethel Groups</title>
  <link rel="shortcut icon" href="/static//static/images/favicon.png" />
  <!-- GOOGLE WEB FONTS -->
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,100,300,700,900&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <!-- END OF GOOGLE WEB FONTS -->

  <!-- BOOTSTRAP & STYLES -->
  {% include "default/bootstrap_css.html" %}
  <!-- END OF BOOTSTRAP & STYLES -->
</head>

<body>

<div class="container-fluid">
   <div class="row">
      <h1>Novo usuario</h1>
   </div>
   <div class="row">
      <form class="form-inline">
         <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail3" placeholder="Email">
         </div>
         <div class="form-group">
            <label class="sr-only" for="exampleInputPassword3">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword3" placeholder="Password">
         </div>

         <button type="submit" class="btn btn-default">Sign in</button>
      </form>
   </div>
</div>

</body>

</html>
