<div class="row">

    <div class="input-field col s6">
        <select id="user-task{{ fields_seq }}-{{task_seq}}" name="user-task{{ fields_seq }}-{{task_seq}}">
              <option value="" disabled selected>Selecione</option>
              {% for item in Tasks %}                    
                <option value="{{ item.id }}">{{ item.name }}</option>
              {% endfor %} 

        </select>
        <label>Atividade</label>
    </div>

    <div class="input-field col s6">
        Some task info
    </div>    

</div>

<script>
    
        $('select').material_select();

</script>